@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #mobile-nav {
    display: flex;
  }
  #experience,
  .group-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section_pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .containers,
  .contact-info-group-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .desktop-nav-links li a {
    font-size: 1rem;
  }
  .sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .desktop-nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section_pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section_text_p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

/*  can't figure out how to use this with a function to change themes */
/* Dark mode styles using prefers-color-scheme 
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1e1e1e;
    color: white;
  }

  .section {
    background-color: #1e1e1e;
  }

  .icon, .project-img {
    filter: invert(1);
  }

  #toggle-theme-btn {
    width: 5rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    background: rgb(53, 53, 53);
  }

  #toggle-theme-btn-image {
    filter: invert(1);
  }

  p {
    color: #c0c0c0;
  }

  a {
    color: #bb86fc;
  }

  a:hover {
    color: #6d1b1b;
    text-decoration-color: #424242;
  }

  .sub-title {
    color: #666666;
  }

  .hamburger-icon span {
    background-color: white;
  }

  .mobile-nav-links {
    background-color: black;
  }

  .mobile-nav-links a {
    color: white;
  }

  .mobile-nav-links.open {
    border: #d9d9d9 0.1rem solid;
  }

  .details-container {
    background: black;
    border: #d9d9d9 0.1rem solid;
    border-color: #f5f5f5;
  }

  .color-container {
    border-color: #f5f5f5;
    background: black;
  }

  .btn:hover {
    background: rgb(230, 230, 230);
    color: black;
  }

  .project-title {
    color: white;
  }

  .project-btn {
    color: white;
    border-color: #f5f5f5;
  }

  .contact-info-group-container {
    border: #d9d9d9 0.1rem solid;
    border-color: #f5f5f5;
    background: black;
  }
}
*/