@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*----------------------------------- GLOBAL ---------------------------------- */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #424242;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

a {
  transition: all 0.3s ease;
}

h3 {
  color: #6d1b1b;
}

/*--------------------------------- NAVIGATION -------------------------------- */

/* desktop nav */
nav,
.desktop-nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.desktop-nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: #6d1b1b;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(181, 181, 181);
}

.title {
  font-size: 3rem;
  text-align: center;
  color: #6d1b1b;
}

.sub-title {
  color: #666666;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.logo {
  color: #6d1b1b;
  font-size: 2rem;
  font-weight: bold;
}

.logo:hover {
  cursor: default;
}

/* mobile nav */

#mobile-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.mobile-nav-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.mobile-nav-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.mobile-nav-links li {
  list-style: none;
}

.mobile-nav-links.open {
  max-height: 300px;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
}

/* nav arrow */

.arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2.5rem;
  height: 64px;
  cursor: pointer;
  animation: bounce 3s 2;
}

/*-----------------------------= ANIMATIONS ------------------------------------*/

/* Keyframes for bounce animation */
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(-50%) translateY(0);
  }
  40% {
    transform: translateX(-50%) translateY(-10px);
  }
  60% {
    transform: translateX(-50%) translateY(-5px);
  }
}

/* fade in animation */

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-visible {
  opacity: 1;
  transform: translateY(0);
}

/*------------------------------- CONTAINERS -----------------------------------*/

.containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.details-container {
  padding: 1.5rem;
  max-width: 620px;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  border-width: 0;
}

.text-container{
  text-align: justify;
  max-width: 70vw;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
}

.article-text-container {
  display: flex;
  width: fit-content;
  justify-content: space-around;
}

.group-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.section-container {
  display: flex;
  justify-content: center;
}

.section_img-container {
  display: flex;
  height: 500px;
  width: 400px;
  margin: auto 0;
}

.project-image-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.contact-info-group-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  margin: 2rem auto;
  padding: 0.5rem;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  border-width: 0;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

#profile-img {
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  border-width: 0;
}

/*---------------------------------- ICONS -------------------------------------*/

.icon {
  cursor: default;
  height: 2rem;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.contact-icon {
  cursor: pointer;
}

/*---------------------------------- BUTTONS -----------------------------------*/

.btn {
  font-weight: 600;
  padding: 1rem;
  width: 8rem;
  transition: all 0.3s ease;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  border-width: 0;
}

.btn:hover {
  cursor: pointer;
  background: rgb(194, 194, 194);
}

.project-btn {
  align-items: center;
  background-color: #fcfcfd;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 48px;
  justify-content: center;
  line-height: 1;
  position: relative;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 18px;
}

.project-btn:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.project-btn:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.project-btn:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* dark mode button */
.toggle-theme-btn-image {
  height: 36px;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.toggle-theme-btn-image:hover {
  transition: all 0.3s ease;
  filter: drop-shadow(10px 15px 10px rgba(0, 0, 0, 0.5));
  transform: translateX(-5%) translateY(-5%);
}

.toggle-theme-btn {
  cursor: pointer;
  border-radius: 2rem;
  border: none;
  background: white;
  transition: all 0.3s ease;
}

/*--------------------------------- SECTIONS -----------------------------------*/

section {
  padding-top: 5vh;
  height: 100vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
  justify-content: center;
}

/* profile */

#profile {
  display: flex;
  gap: 5rem;
  height: 83vh;
}

.section_text {
  align-self: center;
  text-align: center;
}

.section_text p {
  font-weight: 600;
}

.section_text_p1 {
  text-align: center;
}

.section_text_p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

/* about */

#about {
  position: relative;
}

.paragraph-subtitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

.spaced-paragraph {
  margin-bottom: 15px;
}

/* experience */

#experience {
  position: relative;
  margin: 0%;
}

/* hybrid scroll */

.scroll_container {
  height: 160vh;
}

.sticky_wrap {
  overflow: hidden;
  position: sticky;
  top: 0;
  height: 100vh;
}

.horizontal_scroll {
  position: absolute;
  top: 0;
  height: 100%;
  width: 400vw;
  will-change: transform;
  display: flex;
  justify-content: space-between;
  transform: translate3d(20vw, 0px, 0px);
  margin-left: 10rem;
}

/* projects */

#projects {
  position: relative;
}

.project-img {
  border-radius: 2rem;
  width: 20%;
  height: 20%;
}

.project-title {
  margin: 1rem;
  color: black;
}

/* contact */

#contact {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

/* footer */

footer {
  height: 20vh;
  margin: 0 1rem;
}

footer p {
  text-align: center;
}

/*------------------------------- DARK MODE ------------------------------------*/

body.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .btn {
  background: #a8a8a8;
}

/* very useful, it inverts colors, did not know it could do this */
.dark-mode .icon,
.dark-mode .project-img,
.dark-mode .arrow {
  filter: invert(1);
}

.dark-mode .toggle-theme-btn {
  border-color: #c0c0c0;
  background: #121212;
}

.dark-mode .toggle-theme-btn-image {
  filter: invert(1) drop-shadow(5px 5px 5px rgba(255, 255, 255, 0.5));
}

.dark-mode .toggle-theme-btn-image:hover {
  filter: invert(1) drop-shadow(10px 15px 10px rgba(255, 255, 255, 0.5));
  transform: translateX(-5%) translateY(-5%);
}

.dark-mode p,
.dark-mode a {
  color: #c0c0c0;
}

.dark-mode a:hover {
  color: #e93939;
  text-decoration-color: #424242;
}

.dark-mode .logo,
.dark-mode .title {
  color: #882323;
}

.dark-mode h3 {
  color: #e93939;
}

.dark-mode .sub-title {
  color: #a0a0a0;
}

.dark-mode .hamburger-icon span {
  background-color: white;
}

.dark-mode .mobile-nav-links {
  background-color: #a0a0a0;
}

.dark-mode .mobile-nav-links a,
.dark-mode .project-title {
  color: white;
}

.dark-mode .mobile-nav-links.open {
  border: #d9d9d9 0.1rem solid;
}

.dark-mode .details-container,
.dark-mode .contact-info-group-container,
.dark-mode .color-container
.dark-mode #profile-img {
  background: #3a3a3a;
  border: #424242 0.1rem solid;
  box-shadow: rgba(73, 73, 73, 0.103) 0 2px 4px,
    rgb(100, 100, 100) 0 7px 13px -3px, #72727217 0 -3px 0 inset;
}

.dark-mode .btn:hover {
  background: rgb(230, 230, 230);
  color: black;
}

.dark-mode .project-btn {
  border-color: #f5f5f5;
}

/*add here colors to have their hexes and later add them to the
 style of the page:

 titles #6d1b1b
 titles 2/text #424242
 subtitles #666666
 groups 1 #f5f5f5
 groups 2 #d9d9d9

 what is colored in the page: 

 */
